@import "tailwindcss";

:root {
  --hk-primary: #004d00;
  --hk-secondary: #007a33;
  --hk-accent: #66b3a1;
  --hk-surface: #b2e0d4;
  --hk-background: #e0f7f1;

  --hk-text: #1f2937;
  --hk-text-light: #6b7280;
}

@theme inline {
  --color-hk-primary: var(--hk-primary);
  --color-hk-secondary: var(--hk-secondary);
  --color-hk-accent: var(--hk-accent);
  --color-hk-surface: var(--hk-surface);
  --color-hk-background: var(--hk-background);

  --color-hk-text: var(--hk-text);
  --color-hk-text-light: var(--hk-text-light);
}

body {
  background: var(--hk-background);
  color: var(--hk-text);
}